extends ../layouts/LayoutTheme
include ../mixins/home/dashboard/Dashboard

prepend styles
  link(href=`${CWD}vendors/leaflet/leaflet.css`, rel='stylesheet')
  link(href=`${CWD}vendors/leaflet.markercluster/MarkerCluster.css`, rel='stylesheet')
  link(href=`${CWD}vendors/leaflet.markercluster/MarkerCluster.Default.css`, rel='stylesheet')

prepend scripts
  script(src=`${CWD}vendors/echarts/echarts.min.js`)
  script(src=`${CWD}assets/data/world.js`)
  script(src=`${CWD}vendors/chart/chart.min.js`)
  script(src=`${CWD}vendors/dayjs/dayjs.min.js`)


append content
  +Dashboard